.hero {
  padding: 100px 20px;
  text-align: center;
  background: #2b2b2b;
}


.hero h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 32px;
  color: #ccc;
}

.hero-btn {
  padding: 14px 26px;
  background: #2563eb;
  color: #fff;
  border-radius: 14px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.hero-btn:hover {
  background: #125cc4;
}


@media (max-width: 600px) {
  .hero {
    padding: 60px 16px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 12px 20px;
  }
}
